{% extends 'tasks/base.html' %}
{% block conteudo %}
    <h2>Dashboard — Minhas Tarefas</h2>

    {% if tarefas %}
        {% for tarefa in tarefas %}
            <div>
                <h3>{{ tarefa.titulo }}</h3>
                <p>{{ tarefa.descricao }}</p>
                <p>Prazo: {{ tarefa.prazo }}</p>
                <p>Prioridade: {{ tarefa.prioridade }}</p>
                <p>Status: {{ tarefa.status }}</p>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>Nenhuma tarefa cadastrada ainda.</p>
    {% endif %}

{% endblock %}